@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Default white theme */
        --color-white: #fff;
        --color-card: #fff;
        --color-text-sub: #000000E0;
        --color-text-sub2: #000000A6;
        --color-text: #000000E0;
        --color-primary: #66afef;
        --color-error: #ef4444;
        --border-color: #D9D9D9;
        --border-color-code-block: #ebeef5;
        --background-color: #f6f8fa;
        --scroll-bar-color: #e6efff;
        --color-pink: #ffbbf4;
        /* Default white theme end */
        --z-index-mask: 100010;
        --z-index-top: 100000;
        --z-index-common: 10000;
        /*  hljs  */
        --hljs-text-color: #24292e;
        --hljs-string-color: #032f62;
    }
}

.dark {
    --color-primary: #995010;
    --color-card: #1e293b;
    --background-color: rgb(15 23 42);
    --color-white: #000;
    --color-text-sub: #FFFFFFD9;
    --color-text-sub2: #FFFFFFA6;
    --color-text: #FFFFFFD9;
    --scroll-bar-color: #191000;
    --border-color: #262626;
    --border-color-code-block: #14110a;
    --color-pink: #00440B;
    /*  hljs  */
    --hljs-text-color: #dbd6d1;
    --hljs-string-color: #fcd09d;

}

body {
    background: var(--background-color);
    color: var(--color-text);
    font: 500 0.9375rem Lexend, "Noto Sans SC", sans-serif;
    overflow-x: hidden;
    width: 100%;
}

.link-styled-container a {
    color: var(--color-primary);
    text-decoration: none;
}
a:hover {
    opacity: .8;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

::-webkit-scrollbar-corner {
    background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary) linear-gradient(
            45deg,
            #fff6 25%,
            transparent 25%,
            transparent 50%,
            #fff6 50%,
            #fff6 75%,
            transparent 75%,
            transparent
    );
    border: 3px solid var(--scroll-bar-color);
    border-radius: 100px;
}
::-webkit-scrollbar-track {
    background: var(--scroll-bar-color);
    border-radius: 100px;
}
::selection {
    background-color: var(--scroll-bar-color);
    color: unset;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scaleX(1.1) translateY(-80px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

/*添加动画*/
.fade-in {
    animation-duration: .6s;
    animation-fill-mode: both;
    animation-name: fadeIn;
}