@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #f6f8fa;
    color: #1e3e3f;
    font: 500 14px Lexend, "Noto Sans SC", sans-serif;
    overflow-x: hidden;
    width: 100%;
}