@use '@/lib/util';

$subPrimaryColor: #66afef80;
$primaryColor: #66afef;
$baseContainerWidth: 36rem;
.loadingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: $baseContainerWidth;
  height: $baseContainerWidth;
}
.loadingOutCircle {
  position: absolute;
  width: $baseContainerWidth + 1;
  height: $baseContainerWidth + 1;
  border-radius: 100%;
  animation-duration: 3s;
  animation-name: loading-circle;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.loadingTitle {
  animation-duration: 2s;
  animation-name: loading-title;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes loading-title {
  0% {
    color: $primaryColor;
  }

  50% {
    color: $subPrimaryColor;
  }

  100% {
    color: $primaryColor;
  }

}

@keyframes loading-circle {

  @mixin begin{
    opacity: .4;
    box-shadow: 0 util.px2Rem(1px) util.px2Rem(2px) rgba(0, 147, 223, 0.4), 0 util.px2Rem(1px) util.px2Rem(1px) rgba(0, 147, 223, 0.1) inset;
  }

  0% {
    @include begin
  }

  50% {
    opacity: 1;
    border: util.px2Rem(1px) solid rgba(59, 235, 235, 0.7);
    box-shadow: 0 util.px2Rem(1px) util.px2Rem(30px) $primaryColor, 0 util.px2Rem(1px) util.px2Rem(20px) $primaryColor inset;
  }

  100% {
    @include begin
  }

}

.loadingText {
  margin-bottom: 0.5rem;
  &::after {
    animation-duration: 2s;
    content: '';
    animation-name: loading-text;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}


@keyframes loading-text {
  0% {
    content: '.';
  }

  50% {
    content: '..';
  }

  100% {
    content: '...';
  }
}