.codeContent {
  background: none;
  font-size: 13px;
  line-height: 2;
  overflow: auto;
  padding: 0 30px;
}

.languageTag {
  background: linear-gradient(90deg,#ed6ea0 0,#ec8c69);
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 1px .75rem rgba(237,110,161,.302);
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  left: 30px;
  padding: 10px 15px;
  position: absolute;
  top: 0
}
.toolBar {
  position: absolute;
  top: 0.6rem;
  right: 0;
  display: flex;
  > * {
    margin-right: 1.2rem;
    cursor: pointer;
  }
}

.icon {
}

.iconClick {
  color: var(--color-primary);
  transform: scale(1.1);
}

.partialCover {
  background: linear-gradient(hsla(0,0%,100%,0),#fff);
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: end;
  justify-content: center;
  > a {
    cursor: pointer;
    margin-bottom: 0.75rem;
    color: var(--color-primary);
  }
}
.copyContainer {
  z-index: 1000;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > svg {
    z-index: 1200;
  }
}

.copySuccessIcon {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  position: absolute;
  transition: all 0.5s;
  z-index: 1100;
  bottom: -5px;
  animation-duration: .8s;
  animation-fill-mode: both;
  animation-name: copyFadeInAndOut;
  animation-timing-function: linear;
}

@keyframes copyFadeInAndOut {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-200%);
  }
}

