.header {
  transition: all 0.4s;
  position: fixed;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
  align-items: center;
  z-index: var(--z-index-top);
  color: var(--color-text-sub2);
}

.headerMobile {
  transition: all 0.4s;
  position: fixed;
  padding-left: 1rem;
  padding-right: 2rem;
  overflow: hidden;
  align-items: center;
  z-index: var(--z-index-top);
}

.headerTransparentVisible {
  @apply text-white;
  background-color: #00000020;
  height: 3.3rem;
}
.headerNormalVisible {
  @apply bg-primary-sub;
  height: 3.3rem;
}
