.header {
  transition: all 0.4s;
  position: fixed;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
  align-items: center;
  z-index: var(--z-index-top);
}

.headerTransparentVisible {
  background-color: #00000020;
  color: var(--color-white);
  height: 3.3rem;
}
.headerNormalVisible {
  background-color: #92cafa;
  height: 3.3rem;
}
