@use '@/lib/util';

.postContainer {
  //font-size: 0.9375rem;
  font-size: 1rem;
  color: var(--color-text-sub);
  h1 {
    font-size: util.px2Rem(30px) !important;
    margin: util.px2Rem(25px) 0;
  }


  h2 {
    font-size: util.px2Rem(26px);
    margin: util.px2Rem(22px) 0;
  }

  h3 {
    font-size: util.px2Rem(22px);
    margin: util.px2Rem(18px) 0;
  }

  h4 {
    font-size: util.px2Rem(18px);
    margin: util.px2Rem(18px) 0;
  }

  h5 {
    font-size: util.px2Rem(16px);
    margin: util.px2Rem(18px) 0;
  }

  h6 {
    font-size: util.px2Rem(15px);
    margin: util.px2Rem(18px) 0;
  }

  h1,h2,h3,h4,h5,h6 {
    color: var(--color-text);
    font-weight: 700;
  }

  hr {
    border-style: solid none none;
    border-width: util.px2Rem(2px)
  }

  audio,iframe,img,video {
    border-radius: util.px2Rem(10px)
  }

  mark {
    background: rgba(255,241,51,.376);
    border-radius: util.px2Rem(4px);
    color: unset;
    line-height: 2.5;
    padding: util.px2Rem(4px) util.px2Rem(8px)
  }

  ol,p,ul {
    line-height: 1.7;
    margin: util.px2Rem(15px) 0;
    list-style-type: disc;
  }

  pre {
    border: util.px2Rem(1px) solid var(--border-color-code-block);
    border-radius: util.px2Rem(15px);
    box-shadow: 0 util.px2Rem(2px) util.px2Rem(12px) 0 rgba(0,0,0,.102);
    margin: util.px2Rem(25px) 0;
    overflow: visible;
  }


  table tbody tr td:nth-child(2n) {
    background: rgba(199,224,251,.302)
  }

  table tbody tr td:nth-child(odd) {
    background: rgba(217,232,255,.302)
  }

  table thead tr th {
    background: var(--color-primary-sub);
    padding: util.px2Rem(8px) util.px2Rem(20px)
  }

  table tr td {
    padding: util.px2Rem(8px) util.px2Rem(20px)
  }

  ol li,ul li {
    margin: util.px2Rem(8px) 0
  }

  ol,ul {
    padding-left: util.px2Rem(40px)
  }

  code,pre {
    font-family: Fira Code,Noto Sans SC,monospace
  }
  code {
    background: rgba(189,220,247,.42);
    border-radius: util.px2Rem(4px);
    font-size: util.px2Rem(14px);
    line-height: 2.5;
    padding: util.px2Rem(4px) util.px2Rem(8px)
  }

  img {
    margin: 0 auto;
  }

  blockquote {
    background: #d9e8ff6b;
    border-left: util.px2Rem(3px) solid var(--color-primary);
    border-radius: util.px2Rem(3px);
    @apply flex flex-col px-3.5 my-6;
  }

}

