.postContainer {
  //font-size: 0.9375rem;
  font-size: 1rem;
  color: var(--color-text-sub-2);
  h1 {
    font-size: px2Rem(30px) !important
  }

  h1,h2,h3,h4,h5,h6 {
    color: var(--color-text);
    font-weight: 700;
    margin: px2Rem(15px) 0;
  }

  h2 {
    font-size: px2Rem(27px)
  }

  h3 {
    font-size: px2Rem(24px)
  }

  h4 {
    font-size: px2Rem(21px)
  }

  h5 {
    font-size: px2Rem(18px)
  }

  h6 {
    font-size: px2Rem(15px)
  }

  hr {
    border-style: dashed none none;
    border-width: px2Rem(1.5px)
  }

  audio,iframe,img,video {
    border-radius: px2Rem(10px)
  }

  mark {
    background: rgba(255,241,51,.376);
    border-radius: px2Rem(4px);
    color: unset;
    line-height: 2.5;
    padding: px2Rem(4px) px2Rem(8px)
  }

  ol,p,ul {
    line-height: 1.7;
    margin: px2Rem(15px) 0;
    list-style-type: disc;
  }

  pre {
    border: px2Rem(1px) solid #ebeef5;
    border-radius: px2Rem(15px);
    box-shadow: 0 px2Rem(2px) px2Rem(12px) 0 rgba(0,0,0,.102);
    margin: px2Rem(25px) 0;
    overflow: visible;
  }


  table tbody tr td:nth-child(2n) {
    background: rgba(199,224,251,.302)
  }

  table tbody tr td:nth-child(odd) {
    background: rgba(217,232,255,.302)
  }

  table thead tr th {
    background: #a3ddfb;
    padding: px2Rem(8px) px2Rem(20px)
  }

  table tr td {
    padding: px2Rem(8px) px2Rem(20px)
  }

  ol li,ul li {
    margin: px2Rem(8px) 0
  }

  ol,ul {
    padding-left: px2Rem(40px)
  }

  code,pre {
    font-family: Fira Code,Noto Sans SC,monospace
  }
  code {
    background: rgba(189,220,247,.42);
    border-radius: px2Rem(4px);
    font-size: px2Rem(14px);
    line-height: 2.5;
    padding: px2Rem(4px) px2Rem(8px)
  }

}

