.categoryItem {
  border-left: 0.0625rem solid var(--border-color);
  padding: 0.5rem 1.25rem;
  display: flex;
  justify-content: space-between;

  & > span:first-child {
    color: var(--color-text-sub2);
  }

  &:hover {
    border-left-color: var(--color-text-sub);
    cursor: pointer;
  }
}