@use '@/lib/util';

.footerContainer {
  margin: util.px2Rem(150px) auto util.px2Rem(50px);
  text-align: center;
  border-top: solid util.px2Rem(2px) var(--border-color);
  color: var(--color-text-sub);
  font-size: 0.93rem;
}